<h1>2進数 演習問題</h1>

<h2>問題 (文字列 => 2進数)</h2>

文字列 <div class="characters"><%= @word %></div> は2進数で表すと（　　）になる．

<%= form_tag(ascii_code_exercises_1_path, :method => :post) do %>
  <%= text_field_tag(:answer, @answer, {:size => @word.length * 8 + 6, :maxlength => @word.length * 8}) %>
  <%= submit_tag "解答する" %>
<% end %>
