<table id="simple_substitution_table">
  <tr>
    <td>暗号化前</td>
    <% (0..25).each do |i| %>
    <td>
      <%= (97 + i).chr %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td></td>
    <% (0..25).each do |i| %>
    <td>↓</td>
    <% end %>
  </tr>
  <tr>
    <td>暗号化後</td>
    <% (0..25).each do |i| %>
    <td>
      <%= (65 + @key[i]).chr %>
    </td>
    <% end %>
  </tr>
</table>
