<% content_for :title do -%>
  単一換字暗号への総当り攻撃
<% end -%>
<h1>単一換字暗号への総当り攻撃</h1>

<h2>概要</h2>

単一換字暗号に対しても総当たり攻撃は効果があるのでしょうか？単一換字暗号の鍵の種類を数えてみましょう．

<h2>考察</h2>

<p>単一換字暗号の鍵の種類を数えてみましょう．単一換字暗号の鍵は以下のような換字表です．<p>

<% @key = (0..25).sort_by{rand} %>

<%= render 'simple_substitution_cipher/simple_substitution_table' %>

<ol>
  <li>まず 'a' をどの文字に置き換えるかは 26 通りの選び方があります．</li>
  <li>次に 'b' をどの文字に置き換えるかは 1. で選んだ以外の文字数，26 - 1 = 25 通りの選び方があります．</li>
  <li>次に 'c' をどの文字に置き換えるかは 1., 2. で選んだ以外の文字数，26 - 2 = 24 通りの選び方があります．</li>
  <li>次に 'd' をどの文字に置き換えるかは 1., 2., 3. で選んだ以外の文字数，26 - 3 = 23 通りの選び方があります．</li>
  <li>次に 'e' をどの文字に置き換えるかは 1., 2., 3., 4. で選んだ以外の文字数，26 - 4 = 22 通りの選び方があります．</li>
  ...
</ol>

すなわち，

<%= (0..25).map {|i| 26 - i}.join(" x ") %> = <%= fact(26) %>

通り（4兆の1000兆倍）の選び方があることになります．1秒に10億個調べても全部調べ終わるのに120億年かかることになります．もちろん運がよければ最初に答えが見つかる可能性がありますが，平均的にはコンピュータを使っても現実的な時間で求められず，シーザー暗号に比べて全ての鍵を調べるのがとても大変になっていることがわかります．
