<%= content_tag "table", id: "cards", data: {nbits: @nbits, type: @type, hint1: @hint1, hint2: @hint2} do %>
<%
  2.times do |t|
%>
  <tr>
<%
    (0..@nbits).each do |i|
      num = 2**(@nbits-1-i)
    %>
    <% if i < @nbits %>
      <% if t == 0 %>
  <th class="hint1">
    <%= num %>
  </th>
      <% else %>
  <td>
    <% if @type == "card" %>
      <%= image_tag(asset_path("card-0.png"), :id => "card-#{num}", :class => "card", :data => {:face_image => asset_path("card-#{num}.png"), :back_image => asset_path("card-0.png")}) %>
    <% else %>
      <%= image_tag(asset_path("binary-0.png"), :id => "card-#{num}", :class => "card", :data => {:face_image => asset_path("binary-1.png"), :back_image => asset_path("binary-0.png")}) %>
    <% end %>
  </td>
      <% end %>
    <% else %>
      <% if t == 0 %>
  <th class="hint1">
　　
  </th>
      <% else %>
  <td id="card-sum" class="hint2">
    0
  </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
<% end %>
<% end %>
