// Place all the styles related to the caesar_cipher_exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // question
  .plain { font-size: xx-large; font-weight: bold; }
  .encrypted { font-size: xx-large; font-weight: bold; }
  .key { font-size: xx-large; font-weight: bold; }
}
