// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  .notice { color: red; }
  // answer
  .result { font-size: xx-large; font-weight: bold; color: red }
  .answer { font-size: x-large; }

  div.image {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  div.image img {
    width: 400px;
  }
}
