<% content_for :title do -%>
  排他的論理和 (Exclusive Or)
<% end -%>
<h1>排他的論理和</h1>

<h2>概要</h2>

2進数のビット列（0/1の並び）を処理する計算の1つとして，XORについて説明します．XORはエクスクルーシブ・オア (exclusive or) と読み，日本語では排他的論理和といいます．

<h2>体験</h2>

XOR の計算は以下のようなものです．最初のビット数が 5 になっていて，一見ややこしく見えますが，下のボタンを利用して，ビット数を 1 にすれば，簡単な演算でることが理解できます．ビット数が増えても，足し算のように桁上りがないので，各桁ごとにそれぞれ計算すれば結果が求められます．

<%= form_tag(exclusive_or_url(params), :method => :get) do %>
  ビット数を他の値に変更できます (0から8)．<%= text_field_tag(:nbits, @nbits, :size => 2) %><br/>
  <%= submit_tag "設定" %>
<% end %>

<h3>排他的論理和の例</h3>
<%= render 'exclusive_or_table' %>
